In [1]:
import numpy as np
import pandas as pd
import warnings
import time
import os
import sys
%matplotlib inline
from scipy import signal
from scipy.signal import butter, lfilter
import matplotlib.pyplot as plt
import math
import pickle
import statistics
import random
from sklearn.metrics.pairwise import cosine_similarity
from math import log
from sklearn import preprocessing
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
import sktime as sktime
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sktime.datasets import load_from_tsfile_to_dataframe
from sktime.alignment.dtw_python import AlignerDTWfromDist
from sktime.dists_kernels.scipy_dist import ScipyDist
from sktime.dists_kernels.compose_from_align import DistFromAligner
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import RidgeClassifierCV
from sktime.transformations.panel.rocket import Rocket
from sktime.classification.distance_based import KNeighborsTimeSeriesClassifier
from sktime.classification.hybrid import HIVECOTEV2
from sktime.classification.interval_based import CanonicalIntervalForest
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

OMP: Info #271: omp_set_nested routine deprecated, please use omp_set_max_active_levels instead.

Dictionary saved to hb_sepsis_dtwknn.pickle
Dictionary saved to healthy_sepsis_dtwknn.pickle

### Load normal and abnormal datasets

In [2]:
final_normal_df = pd.read_pickle('normal_public_sepsis.pkl')
final_abnormal_df = pd.read_pickle('abnormal_public_sepsis.pkl')

In [3]:
abnormal_indices = (final_abnormal_df['Subject']).unique()
abnormal_no = (final_abnormal_df['Subject']).nunique()

'Number of abnormal subjects:'

175

In [4]:
# Specify the file path of the saved pkl file
file_path = 'final_bins.pkl'

# Load the dictionary from the pkl file
with open(file_path, 'rb') as file:
    final_numbers_dictionary = pickle.load(file)

'Dictionary loaded from pickle file:'

### Function to find the length of the time series

In [5]:
def time_series_length_finding(df):
    train_1_abnormal = df.copy()
    train_1_ab_sub = (train_1_abnormal['Subject'].unique()).tolist()
    row_count = []
    for i in train_1_ab_sub:
        train_1_abnormal_new = train_1_abnormal[(train_1_abnormal['Subject']== i)]
        no_rows = train_1_abnormal_new.shape[0]
        row_count.append(no_rows)
    display("Avg length:",statistics.mean(row_count))
    avg_len_ts = int(statistics.mean(row_count))
    return(avg_len_ts)

In [6]:
# Define a function to z-normalize a column
def z_normalize(column):
    mean = column.mean()
    std = column.std()
    z_normalized = (column - mean) / std
    return z_normalized

In [7]:
def preprocessing_normal_df(df,desired_length):
    train_2_normal = df.copy()
    df_train_3 = pd.DataFrame(columns = train_2_normal.columns)
    num_dim = df_train_3.shape[1]
    display(num_dim)
    df_train_3.columns = range(len(df_train_3.columns))
    train_2_sub = (train_2_normal['Subject'].unique()).tolist()
    m = 0
    for i in train_2_sub:
        train_2_normal_new = train_2_normal[(train_2_normal['Subject']== i)]
        df_row_count = train_2_normal_new.shape[0]
        if df_row_count < desired_length:
            rows_to_add = desired_length - df_row_count
            train_2_normal_new.tail()
            last_row = train_2_normal_new.ffill().iloc[[-1]]  # Extract the last row
            new_rows_df = pd.concat([last_row] * rows_to_add, ignore_index=True)
            train_2_normal_initial = pd.concat([train_2_normal_new, new_rows_df], ignore_index=True)
            train_2_normal_initial_no_sub = train_2_normal_initial.drop(columns='Subject')
            train_2_normal_final = z_normalize(train_2_normal_initial_no_sub)
            train_2_normal_final.insert(0, 'Subject', i)
        else:
            train_2_normal_initial = train_2_normal_new.iloc[:desired_length,:]
            train_2_normal_initial_no_sub = train_2_normal_initial.drop(columns='Subject')
            train_2_normal_final = z_normalize(train_2_normal_initial_no_sub)
            train_2_normal_final.insert(0, 'Subject', i)
            
        train_2_normal_final.columns = range(len(train_2_normal_final.columns))
        
        df_train_3.at[m,0] = i
        j = 0
        while j < num_dim:
            df_train_3.at[m,j] = train_2_normal_final[j]
            j += 1
        m += 1    
    df_train_3['class'] = 'normal'
    df_normal_baseline = df_train_3.iloc[:,1:]
    return(df_normal_baseline)

In [8]:
def preprocessing_dataframe(df,desired_length):
    train_1_abnormal = df.copy()
    df_train_2 = pd.DataFrame(columns = train_1_abnormal.columns)
    num_dim_ab = df_train_2.shape[1]
    df_train_2.columns = range(len(df_train_2.columns))
    train_1_ab_sub = (train_1_abnormal['Subject'].unique()).tolist()
    m = 0
    for i in train_1_ab_sub:
        train_1_abnormal_new = train_1_abnormal[(train_1_abnormal['Subject']== i)]
        df_row_count = train_1_abnormal_new.shape[0]
        if df_row_count < desired_length:
            rows_to_add = desired_length - df_row_count
            last_row = train_1_abnormal_new.ffill().iloc[[-1]]  # Extract the last row
            new_rows_df = pd.concat([last_row] * rows_to_add, ignore_index=True)
            train_1_abnormal_initial = pd.concat([train_1_abnormal_new, new_rows_df], ignore_index=True)
            train_1_abnormal_initial_no_sub = train_1_abnormal_initial.drop(columns='Subject')
            train_1_abnormal_final = z_normalize(train_1_abnormal_initial_no_sub)
            train_1_abnormal_final.insert(0, 'Subject', i)
        else:
            train_1_abnormal_initial = train_1_abnormal_new.iloc[:desired_length,:]
            train_1_abnormal_initial_no_sub = train_1_abnormal_initial.drop(columns='Subject')
            train_1_abnormal_final = z_normalize(train_1_abnormal_initial_no_sub)
            train_1_abnormal_final.insert(0, 'Subject', i)
        train_1_abnormal_final.columns = range(len(train_1_abnormal_final.columns))
        
        df_train_2.at[m,0] = i
        j = 0
        while j < num_dim_ab:
            df_train_2.at[m,j] = train_1_abnormal_final[j]
            j += 1
        m += 1    
    # display(df_train_2)
    df_train_2['class'] = 'abnormal'
    df_final = df_train_2.iloc[:,1:]
    return(df_final)

In [9]:
def ts_classifier(df_class_1):
    accuacy_list_1 = []
    precision_list_1 = []
    recall_list_1 = []
    f1_list_1 = []

    X_1 = df_class_1.iloc[:,:-1]
    y_1 = df_class_1.iloc[:,-1]
    
    display("X_1:",X_1)

    for i in range(1,31):
        X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X_1, y_1, test_size=0.2, random_state=i,stratify = y_1) 
        dtw_knn = KNeighborsTimeSeriesClassifier(distance="dtw")
        dtw_knn.fit(X_train_1, y_train_1)
        y_pred_1 = dtw_knn.predict(X_test_1)

        pos_label = 'abnormal'

        acc_1 = accuracy_score(y_test_1, y_pred_1)
        accuacy_list_1.append(acc_1)

        prec_1 = precision_score(y_test_1, y_pred_1, pos_label=pos_label)
        precision_list_1.append(prec_1)

        recall_1 = recall_score(y_test_1, y_pred_1, pos_label=pos_label)
        recall_list_1.append(recall_1)

        f1_1 = f1_score(y_test_1, y_pred_1, pos_label=pos_label)
        f1_list_1.append(f1_1)
        display("Completed",i)

    acc_mean_1 = np.mean(accuacy_list_1)
    acc_std_dev_1 = np.std(accuacy_list_1)

    prec_mean_1 = np.mean(precision_list_1)
    prec_std_dev_1 = np.std(precision_list_1)

    recall_mean_1 = np.mean(recall_list_1)
    recall_std_dev_1 = np.std(recall_list_1)

    f1_mean_1 = np.mean(f1_list_1)
    f1_std_dev_1 = np.std(f1_list_1)
    
    return(acc_mean_1,acc_std_dev_1,prec_mean_1,prec_std_dev_1,recall_mean_1,recall_std_dev_1,f1_mean_1,f1_std_dev_1)

In [10]:
# Keys to combine
key_to_combine1 = 'sample_numbers_list_0.0_to_0.1'
key_to_combine2 = 'sample_numbers_list_0.1_to_0.2'
# Create a new dictionary with combined values
hb_dict = {
    'hb_key': final_numbers_dictionary[key_to_combine1] + final_numbers_dictionary[key_to_combine2]
}

In [11]:
classifier_dict_hb = {}
key = 'hb_key'
normal_sample_numbers = [] 
normal_sample_numbers.extend(hb_dict[key])
normal_sample_length = len(normal_sample_numbers)
display(normal_sample_length)

if len(normal_sample_numbers) <= abnormal_no:
    df_normal = final_normal_df[final_normal_df['Subject'].isin(normal_sample_numbers)]

    random.seed(42)
    abnormal_sample_numbers = random.sample(abnormal_indices.tolist(), normal_sample_length)
    df_abnormal = final_abnormal_df[final_abnormal_df['Subject'].isin(abnormal_sample_numbers)]

    desired_length_for_ts = time_series_length_finding(df_abnormal)

    df_normal_preprocessed = preprocessing_normal_df(df_normal,desired_length_for_ts)
    df_abnormal_preprocessed = preprocessing_dataframe(df_abnormal,desired_length_for_ts)

    df_classifier = (pd.concat([df_normal_preprocessed,df_abnormal_preprocessed]).reset_index()).drop(columns='index')
    display("df_classifier:",df_classifier.head())
    acc_mean,acc_std_dev,prec_mean,prec_std_dev,recall_mean,recall_std_dev,f1_mean,f1_std_dev = ts_classifier(df_classifier)

    classifier_dict_hb[key] = {'acc_mean': acc_mean,'acc_std_dev': acc_std_dev,'prec_mean': prec_mean,'prec_std_dev': prec_std_dev,'recall_mean': recall_mean,'recall_std_dev': recall_std_dev,'f1_mean': f1_mean,'f1_std_dev': f1_std_dev}

else:
    df_abnormal = final_abnormal_df

    random.seed(42)
    random_sample_numbers = random.sample(normal_sample_numbers, abnormal_no)
    df_normal = final_normal_df[final_normal_df['Subject'].isin(random_sample_numbers)]

    desired_length_for_ts = time_series_length_finding(df_abnormal)

    df_normal_preprocessed = preprocessing_normal_df(df_normal,desired_length_for_ts)
    df_abnormal_preprocessed = preprocessing_dataframe(df_abnormal,desired_length_for_ts)
    
    df_classifier = (pd.concat([df_normal_preprocessed,df_abnormal_preprocessed]).reset_index()).drop(columns='index')
    acc_mean,acc_std_dev,prec_mean,prec_std_dev,recall_mean,recall_std_dev,f1_mean,f1_std_dev = ts_classifier(df_classifier)

    classifier_dict_hb[key] = {'acc_mean': acc_mean,'acc_std_dev': acc_std_dev,'prec_mean': prec_mean,'prec_std_dev': prec_std_dev,'recall_mean': recall_mean,'recall_std_dev': recall_std_dev,'f1_mean': f1_mean,'f1_std_dev': f1_std_dev}

72

'Avg length:'

106.48611111111111

6

'df_classifier:'

,1,2,3,4,5,class
0,0 -0.105458 1 2.156868 2 2.15686...,0 -2.226819 1 -1.046605 2 -1.04660...,0 -2.899032 1 -1.326285 2 -1.32628...,0 -1.365259 1 -0.350125 2 -0.35012...,0 -0.542939 1 -0.029086 2 -0.02908...,normal
1,0 -1.086132 1 -1.086132 2 -0.87655...,0 -0.727819 1 -0.727819 2 -0.98801...,0 -1.194132 1 -1.194132 2 -1.26061...,0 -0.746295 1 -0.746295 2 -1.41598...,0 -0.656451 1 -0.656451 2 -1.44081...,normal
2,0 -0.441790 1 -0.339262 2 -0.51868...,0 -0.011731 1 0.521171 2 0.58038...,0 0.622406 1 0.622406 2 0.77601...,0 -0.660632 1 -0.320530 2 0.01957...,0 0.129944 1 0.659714 2 0.92459...,normal
3,0 3.186905 1 2.687368 2 2.93713...,0 1.754275 1 1.818485 2 1.69006...,0 0.656200 1 1.026776 2 2.58319...,0 1.502163 1 1.565475 2 1.37553...,0 0.393412 1 1.891676 2 -2.10369...,normal
4,0 -0.866961 1 -1.463458 2 -1.76170...,0 6.174958 1 0.460671 2 -0.42986...,0 5.486180 1 0.092835 2 -0.85336...,0 5.608109 1 -0.055790 2 -0.83318...,0 -3.297001 1 -2.740146 2 -1.51506...,normal

'X_1:'

,1,2,3,4,5
0,0 -0.105458 1 2.156868 2 2.15686...,0 -2.226819 1 -1.046605 2 -1.04660...,0 -2.899032 1 -1.326285 2 -1.32628...,0 -1.365259 1 -0.350125 2 -0.35012...,0 -0.542939 1 -0.029086 2 -0.02908...
1,0 -1.086132 1 -1.086132 2 -0.87655...,0 -0.727819 1 -0.727819 2 -0.98801...,0 -1.194132 1 -1.194132 2 -1.26061...,0 -0.746295 1 -0.746295 2 -1.41598...,0 -0.656451 1 -0.656451 2 -1.44081...
2,0 -0.441790 1 -0.339262 2 -0.51868...,0 -0.011731 1 0.521171 2 0.58038...,0 0.622406 1 0.622406 2 0.77601...,0 -0.660632 1 -0.320530 2 0.01957...,0 0.129944 1 0.659714 2 0.92459...
3,0 3.186905 1 2.687368 2 2.93713...,0 1.754275 1 1.818485 2 1.69006...,0 0.656200 1 1.026776 2 2.58319...,0 1.502163 1 1.565475 2 1.37553...,0 0.393412 1 1.891676 2 -2.10369...
4,0 -0.866961 1 -1.463458 2 -1.76170...,0 6.174958 1 0.460671 2 -0.42986...,0 5.486180 1 0.092835 2 -0.85336...,0 5.608109 1 -0.055790 2 -0.83318...,0 -3.297001 1 -2.740146 2 -1.51506...
...,...,...,...,...,...
139,0 1.511999 1 0.639111 2 1.60898...,0 -0.257419 1 0.084088 2 -0.66722...,0 0.658101 1 0.498956 2 0.55200...,0 -0.746631 1 -0.281084 2 -0.20757...,0 -0.484875 1 -0.484875 2 -0.48487...
140,0 -0.709804 1 -0.734702 2 -0.95877...,0 -0.604892 1 -0.653614 2 -0.45872...,0 -0.371030 1 -0.439191 2 -0.84816...,0 -0.476280 1 -0.528034 2 -0.03637...,0 -0.543197 1 -0.543197 2 -0.17449...
141,0 -0.593188 1 -0.482973 2 -0.81362...,0 1.633853 1 -0.252631 2 -1.40292...,0 0.101221 1 -0.700402 2 -1.62535...,0 2.711120 1 -0.052762 2 -1.19083...,0 -2.354645 1 0.265747 2 0.26574...
142,0 -0.891320 1 -0.743649 2 -0.41877...,0 -0.722405 1 -0.673287 2 -0.67328...,0 -0.948864 1 -0.505782 2 -0.56908...,0 -0.415329 1 -0.581964 2 -0.64861...,0 -2.125695 1 -2.125695 2 -2.12569...
143,0 0.558850 1 0.558850 2 -0.23429...,0 -0.818955 1 -0.818955 2 -2.52109...,0 -0.806680 1 -0.806680 2 -2.72948...,0 0.779671 1 0.779671 2 -1.52596...,0 0.952129 1 0.952129 2 0.78077...

'Completed'

1

'Completed'

2

'Completed'

3

'Completed'

4

'Completed'

5

'Completed'

6

'Completed'

7

'Completed'

8

'Completed'

9

'Completed'

10

'Completed'

11

'Completed'

12

'Completed'

13

'Completed'

14

'Completed'

15

'Completed'

16

'Completed'

17

'Completed'

18

'Completed'

19

'Completed'

20

'Completed'

21

'Completed'

22

'Completed'

23

'Completed'

24

'Completed'

25

'Completed'

26

'Completed'

27

'Completed'

28

'Completed'

29

'Completed'

30

In [12]:
classifier_dict_hb

{'hb_key': {'acc_mean': 0.7735632183908049,
  'acc_std_dev': 0.07270512460169411,
  'prec_mean': 0.7907793831555441,
  'prec_std_dev': 0.09751406083999678,
  'recall_mean': 0.7561904761904763,
  'recall_std_dev': 0.11175369742826806,
  'f1_mean': 0.7660405865027307,
  'f1_std_dev': 0.07710040220398275}}

In [13]:
import pickle

# Specify the file path where you want to save the pickle file
pickle_file_path = 'hb_sepsis_dtwknn.pickle'

# Save the dictionary to a pickle file
with open(pickle_file_path, 'wb') as file:
    pickle.dump(classifier_dict_hb, file)

print(f"Dictionary saved to {pickle_file_path}")

In [14]:
all_values = [value for sublist in final_numbers_dictionary.values() for value in sublist]
healthy_dict = {'healthy_key': all_values}

{'healthy_key': [112,
  360,
  143,
  415,
  413,
  23,
  374,
  32,
  34,
  42,
  68,
  90,
  119,
  121,
  137,
  178,
  180,
  196,
  214,
  241,
  242,
  249,
  257,
  265,
  277,
  279,
  315,
  325,
  340,
  357,
  365,
  369,
  406,
  407,
  426,
  429,
  441,
  455,
  458,
  470,
  493,
  14,
  288,
  20,
  33,
  35,
  51,
  52,
  60,
  63,
  67,
  73,
  144,
  167,
  176,
  205,
  228,
  235,
  250,
  296,
  313,
  323,
  337,
  362,
  396,
  409,
  419,
  440,
  464,
  467,
  486,
  489,
  378,
  280,
  50,
  3,
  5,
  41,
  43,
  70,
  117,
  123,
  139,
  164,
  220,
  225,
  244,
  247,
  262,
  289,
  320,
  334,
  344,
  350,
  363,
  381,
  393,
  394,
  417,
  444,
  474,
  480,
  487,
  496,
  72,
  457,
  7,
  27,
  30,
  69,
  79,
  100,
  138,
  150,
  160,
  163,
  204,
  232,
  245,
  300,
  331,
  336,
  341,
  352,
  377,
  402,
  408,
  435,
  481,
  500,
  380,
  473,
  194,
  6,
  21,
  36,
  37,
  77,
  103,
  109,
  125,
  128,
  132,
  135,
  149,
  187,
  189,
  193,
  198,
  203,
  212,
  224,
  237,
  273,
  283,
  306,
  311,
  317,
  332,
  351,
  383,
  385,
  395,
  397,
  428,
  456,
  459,
  461,
  477,
  126,
  217,
  17,
  16,
  333,
  446,
  4,
  82,
  434,
  275,
  10,
  57,
  74,
  81,
  146,
  151,
  171,
  182,
  199,
  211,
  229,
  252,
  255,
  263,
  294,
  321,
  398,
  421,
  453,
  454,
  475,
  494,
  504,
  102,
  113,
  491,
  310,
  12,
  25,
  26,
  29,
  94,
  105,
  108,
  110,
  130,
  131,
  166,
  174,
  223,
  253,
  266,
  281,
  286,
  298,
  312,
  329,
  348,
  354,
  356,
  366,
  373,
  392,
  412,
  422,
  427,
  479,
  506,
  115,
  53,
  48,
  80,
  177,
  39,
  59,
  87,
  93,
  95,
  154,
  155,
  157,
  161,
  170,
  179,
  188,
  200,
  239,
  269,
  282,
  285,
  384,
  462,
  465,
  485,
  507,
  120,
  391,
  38,
  49,
  65,
  66,
  71,
  86,
  96,
  97,
  101,
  107,
  118,
  159,
  267,
  387,
  423,
  433,
  436,
  448,
  450,
  498,
  58,
  309,
  136,
  236,
  11,
  15,
  22,
  28,
  47,
  83,
  85,
  88,
  133,
  145,
  156,
  162,
  206,
  213,
  216,
  233,
  243,
  261,
  276,
  338,
  339,
  343,
  345,
  346,
  355,
  370,
  401,
  403,
  452,
  460,
  469,
  472,
  497,
  502,
  141,
  302,
  499,
  92,
  124,
  153,
  186,
  201,
  202,
  218,
  324,
  359,
  400,
  492,
  503,
  367,
  111,
  2,
  31,
  84,
  91,
  99,
  104,
  116,
  127,
  181,
  183,
  190,
  210,
  227,
  295,
  319,
  335,
  342,
  372,
  439,
  445,
  483,
  490,
  501,
  195,
  56,
  169,
  197,
  234,
  258,
  278,
  292,
  349,
  368,
  404,
  410,
  416,
  424,
  431,
  438,
  478,
  215,
  55,
  140,
  148,
  152,
  165,
  207,
  208,
  222,
  256,
  268,
  297,
  308,
  322,
  463,
  505,
  347,
  303,
  389,
  8,
  46,
  76,
  89,
  158,
  191,
  260,
  271,
  304,
  305,
  371,
  259,
  230,
  173,
  414,
  54,
  240,
  284,
  287,
  290,
  353,
  376,
  405,
  442,
  45,
  358,
  175,
  40,
  129,
  168,
  192,
  209,
  293,
  364,
  379,
  382,
  399,
  432,
  449,
  13,
  184,
  9,
  122,
  219,
  299,
  388,
  418,
  64,
  24,
  248,
  254,
  274,
  291,
  301,
  314,
  375,
  425,
  430,
  482,
  61,
  75,
  264,
  307,
  326,
  327,
  390,
  471,
  18,
  221,
  251,
  328,
  114,
  172,
  316,
  361,
  411,
  147,
  231,
  330,
  447,
  451,
  476,
  484,
  488,
  62,
  238,
  246,
  318,
  386,
  443,
  466,
  19,
  44,
  98,
  142,
  185,
  272,
  468,
  106,
  134,
  495,
  226]}

In [15]:
classifier_dict_healthy = {}
key = 'healthy_key'
normal_sample_numbers = [] 
normal_sample_numbers.extend(healthy_dict[key])
normal_sample_length = len(normal_sample_numbers)
display(normal_sample_length)

if len(normal_sample_numbers) <= abnormal_no:
    df_normal = final_normal_df[final_normal_df['Subject'].isin(normal_sample_numbers)]
    display(df_normal.head())

    random.seed(42)
    abnormal_sample_numbers = random.sample(abnormal_indices.tolist(), normal_sample_length)
    df_abnormal = final_abnormal_df[final_abnormal_df['Subject'].isin(abnormal_sample_numbers)]
    display(df_abnormal.head())

    desired_length_for_ts = time_series_length_finding(df_abnormal)

    df_normal_preprocessed = preprocessing_normal_df(df_normal,desired_length_for_ts)
    df_abnormal_preprocessed = preprocessing_dataframe(df_abnormal,desired_length_for_ts)

    df_classifier = (pd.concat([df_normal_preprocessed,df_abnormal_preprocessed]).reset_index()).drop(columns='index')
    acc_mean,acc_std_dev,prec_mean,prec_std_dev,recall_mean,recall_std_dev,f1_mean,f1_std_dev = ts_classifier(df_classifier)

    classifier_dict_healthy[key] = {'acc_mean': acc_mean,'acc_std_dev': acc_std_dev,'prec_mean': prec_mean,'prec_std_dev': prec_std_dev,'recall_mean': recall_mean,'recall_std_dev': recall_std_dev,'f1_mean': f1_mean,'f1_std_dev': f1_std_dev}

else:
    df_abnormal = final_abnormal_df

    random.seed(42)
    random_sample_numbers = random.sample(normal_sample_numbers, abnormal_no)
    df_normal = final_normal_df[final_normal_df['Subject'].isin(random_sample_numbers)]
    display(df_normal)

    desired_length_for_ts = time_series_length_finding(df_abnormal)

    df_normal_preprocessed = preprocessing_normal_df(df_normal,desired_length_for_ts)
    df_abnormal_preprocessed = preprocessing_dataframe(df_abnormal,desired_length_for_ts)

    df_classifier = (pd.concat([df_normal_preprocessed,df_abnormal_preprocessed]).reset_index()).drop(columns='index')
    acc_mean,acc_std_dev,prec_mean,prec_std_dev,recall_mean,recall_std_dev,f1_mean,f1_std_dev = ts_classifier(df_classifier)

    classifier_dict_healthy[key] = {'acc_mean': acc_mean,'acc_std_dev': acc_std_dev,'prec_mean': prec_mean,'prec_std_dev': prec_std_dev,'recall_mean': recall_mean,'recall_std_dev': recall_std_dev,'f1_mean': f1_mean,'f1_std_dev': f1_std_dev}

502

    Subject     HR   MAP   DBP    SBP  Resp
0        11   90.0  70.0  53.0  111.0  24.0
1        11   90.0  70.0  53.0  111.0  24.0
2        11   90.0  80.0  60.0  121.0  24.0
3        11   81.0  67.0  52.0   99.0  12.0
4        11   83.0  66.0  51.0   99.0  14.0
..      ...    ...   ...   ...    ...   ...
52      506  104.0  89.0  69.0  136.0  28.0
53      506  100.0  83.0  65.0  121.0  19.0
54      506   91.0  74.0  59.0  102.0  14.0
55      506   90.0  66.0  61.0  101.0  16.0
56      506   90.0  72.0  56.0  101.0  20.0

[9438 rows x 6 columns]

'Avg length:'

108.59428571428572

6

'X_1:'

,1,2,3,4,5
0,0 1.340723 1 1.340723 2 1.34072...,0 -0.778554 1 -0.778554 2 0.82151...,0 -0.107189 1 -0.107189 2 1.97062...,0 -0.903078 1 -0.903078 2 -0.10722...,0 1.674277 1 1.674277 2 1.67427...
1,0 -0.748380 1 -0.748380 2 -1.25784...,0 -1.904063 1 -1.904063 2 0.13196...,0 -1.310589 1 -1.310589 2 0.13027...,0 -1.252654 1 -1.252654 2 0.98884...,0 0.638863 1 0.638863 2 -0.40025...
2,0 -1.129663 1 -1.129663 2 -1.50219...,0 -2.085958 1 -2.085958 2 -2.48453...,0 -2.047608 1 -2.047608 2 -2.53958...,0 -0.139525 1 -0.139525 2 -0.42746...,0 -2.240410 1 -2.240410 2 -0.95165...
3,0 -0.459793 1 -0.357141 2 -0.53678...,0 0.002752 1 0.537660 2 0.59709...,0 0.639073 1 0.639073 2 0.79330...,0 -0.650055 1 -0.308420 2 0.03321...,0 0.143012 1 0.675609 2 0.94190...
4,0 0.362196 1 0.362196 2 0.61620...,0 -0.655066 1 -0.655066 2 -0.18007...,0 -0.340537 1 -0.340537 2 -0.00389...,0 -0.970170 1 -0.970170 2 0.12910...,0 -0.491569 1 -0.491569 2 -0.17366...
...,...,...,...,...,...
345,0 0.650005 1 0.589643 2 -0.43650...,0 0.608622 1 1.589685 2 1.41131...,0 3.279536 1 3.279536 2 1.58788...,0 0.691488 1 0.691488 2 -0.02521...,0 -0.462499 1 0.541519 2 -0.46249...
346,0 0.047154 1 0.047154 2 0.74614...,0 -0.057694 1 -0.057694 2 -0.05769...,0 0.213708 1 0.213708 2 -0.04931...,0 -0.447369 1 -0.447369 2 -0.13157...,0 -0.476827 1 -0.476827 2 -1.35618...
347,0 -0.843348 1 -0.698360 2 -0.37938...,0 -0.717568 1 -0.668112 2 -0.66811...,0 -0.930073 1 -0.487014 2 -0.55030...,0 -0.418345 1 -0.586556 2 -0.65384...,0 -2.073631 1 -2.073631 2 -2.07363...
348,0 2.245241 1 0.922891 2 1.58406...,0 -0.732514 1 -1.682273 2 -1.43603...,0 -1.124194 1 -2.176147 2 -1.29952...,0 0.192826 1 -2.343582 2 -2.14333...,0 -0.059245 1 -0.059245 2 0.18685...
349,0 0.571725 1 0.571725 2 -0.22564...,0 -0.799545 1 -0.799545 2 -2.49661...,0 -0.799549 1 -0.799549 2 -2.72855...,0 0.793528 1 0.793528 2 -1.45869...,0 0.944124 1 0.944124 2 0.77217...

'Completed'

1

'Completed'

2

'Completed'

3

'Completed'

4

'Completed'

5

'Completed'

6

'Completed'

7

'Completed'

8

'Completed'

9

'Completed'

10

'Completed'

11

'Completed'

12

'Completed'

13

'Completed'

14

'Completed'

15

'Completed'

16

'Completed'

17

'Completed'

18

'Completed'

19

'Completed'

20

'Completed'

21

'Completed'

22

'Completed'

23

'Completed'

24

'Completed'

25

'Completed'

26

'Completed'

27

'Completed'

28

'Completed'

29

'Completed'

30

In [16]:
classifier_dict_healthy

{'healthy_key': {'acc_mean': 0.6852380952380952,
  'acc_std_dev': 0.040319022591903675,
  'prec_mean': 0.708280410918097,
  'prec_std_dev': 0.04445692992991904,
  'recall_mean': 0.6352380952380954,
  'recall_std_dev': 0.08465482803300149,
  'f1_mean': 0.6662852241287144,
  'f1_std_dev': 0.053101037342524714}}

In [17]:
import pickle

# Specify the file path where you want to save the pickle file
pickle_file_path = 'healthy_sepsis_dtwknn.pickle'

# Save the dictionary to a pickle file
with open(pickle_file_path, 'wb') as file:
    pickle.dump(classifier_dict_healthy, file)

print(f"Dictionary saved to {pickle_file_path}")